.outer:hover img {
    transform: scale(1.1); /* Enlarge the image on hover */
}

.outer:hover .caption {
    opacity: 1; /* Show the caption on hover */
}
 
.picouter   {
    display: flex;
    justify-content:center;
    background-color: rgb(47, 43, 43); 
}
.outer {
    margin-left: 20px;
    margin-right: 10px;
    overflow: hidden;
    padding: 10px;  
}

.pic img{
    width: 5in;
    height: 3in;
    margin-top: 50px;
}

.text {
    padding: 20px
}

.caption {
    text-align: center;
    color: #f2f2f2;
}

.titleevent {
    text-align: center;
    font-size: .4in;
    color: maroon;
    margin-top: 50px;
    margin-bottom: 30px;
}

.announ {
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 90px ;
}

.announ img {
    width: 100%;
    height: 3in;
    display:inline-block ;
    text-align: center;
}

.nametag {
    text-align: center;
    font-size: .4in;
    color: maroon; 
    margin-bottom: 30px;
}

/* Container for the image gallery */
* {
    box-sizing: border-box;
}
    
/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}
    
/* Hide the images by default */
.mySlides {
    display: none;
}
    
/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}
    
/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
    
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
    
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
    
/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
    
/* Container for image text */
.caption-container {
    text-align: center;
    background-color: maroon;
    padding: 4px;
    color: white;
    font-size: 23px;
}
    
.row:after {
    content: "";
    display: table;
    clear: both;
}
    
/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}
    
  /* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}
    
.active,
.demo:hover {
    opacity: 1;
}
    

@media screen and (max-width: 768px) {
    .picouter {
        flex-direction: column; 
        align-items: center; 
    }

    .outer {
        margin: 20px auto; 
        width: 80%; 
    }
    
    .pic img {
        width: 100%; 
        height: auto; 
        margin-top: 0; 
    }

    .text {
        padding: 10px; 
    }
}


  